---
const year = new Date().getFullYear();
---

<footer class="bg-background/5 pb-1 text-center">
  <p>Made with Astro + Alpine.js + Tailwind</p>
  <p>©<span>{year}</span> Meet Chothani</p>
</footer>

<style>
  p {
    @apply text-sm text-text/50;
  }
</style>
